body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #7CA0C9;
    background: -webkit-linear-gradient(#2B3741, #101322); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2B3741, #101322); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2B3741, #101322); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2B3741, #101322); /* Standard syntax (must be last) */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #edefdd;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
